.CardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.Header {
    text-align: center;
    margin-bottom: 20px;
}

.ItemHeader {
    font-size: 1.5rem;
}

.ItemImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.Info {
    font-size: 1rem;
    margin-bottom: 10px;
}

.ItemFooter {
    text-align: center;
}


.text-danger-bg-danger-subtle {
    color: #fff;
    background-color: #dc3545;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
}

.quantity-available {
    color: #28a745;
    font-weight: bold;
}
  