.CardContainer {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: center;
}

.CardItem {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    text-align: center; 
}
  
.ItemImg {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
}
  
.ItemHeader {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
  
.ItemDescription {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}
  

.ItemPrice {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.ItemButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.ItemButton:hover {
    background-color: #0056b3;
}